<div class="main-container">
  <!-- Cabecera -->
  <app-navbar></app-navbar>

  <!-- Contenido principal -->
  <main class="container mx-auto p-4">
    <!-- Sección Hero con ID -->
    <div id="hero">
      <app-hero></app-hero>
    </div>
    
    <!-- Sección Beneficios con ID -->
    <div id="benefits">
      <app-property-benefits></app-property-benefits>
    </div>
    
    <!-- Sección Ubicaciones con ID -->
    <div id="locations" class="mt-1.5">
      <app-location-properties></app-location-properties>
    </div>
  </main>

  <!-- Pie de página -->
  <app-footer></app-footer>
  
</div>